main {
	flex: 1;
	display: flex;
	flex-direction: row;
}

#blocklyArea {
	flex: 2;
}

#blocklyDiv {
	position: absolute;
}

#panel {
	flex: 1;
	display: flex;
	flex-direction: column;
	border-left: 1px solid lightslategray;
	background-color: snow;
}

details {
	padding: 2px 8px;
}

summary {
	cursor: pointer;
	user-select: none;
}

details pre {
	font-family: inherit;
	font-size: 14px;
}

details {
	border-top: 1px solid lightslategray;
	border-bottom: 1px solid lightslategray;
}

/*---------*/

#query {
	margin: 0;
	font-family: "Go Smallcaps";
	font-size: larger;
	padding: calc(2px + 0.1em) 0.1em;
	border: none;
	cursor: pointer;
	background-color: aliceblue;
	box-sizing: border-box;
}

#query:hover,
#query:focus {
	background-color: honeydew;
}

#query:active {
	border: 2px inset;
	padding: 0.1em;
}

#query:disabled {
	background-color: ghostwhite;
	border: none;
	padding: calc(2px + 0.1em) 0.1em;
	cursor: not-allowed;
}

#panel table {
	display: block;
	flex: 1;
	white-space: pre-line;
	font-size: 12px;
}

/*---------*/

.blocklyMainBackground {
	stroke: none;
	stroke-width: 0;
}

.blocklySvg {
	background-color: ghostwhite;
}

.blocklyFlyout {
	background-color: whitesmoke;
	border-right: 1px solid lightslategray;
}

.blocklyFlyoutBackground {
	fill: whitesmoke;
	fill-opacity: 0;
}

.blocklyText,
.blocklyHtmlInput {
	font-family: inherit;
	font-size: 9pt !important;
}

.blocklyHtmlInput {
	padding-left: 5px;
	margin-left: 2px;
	width: calc(100% - 6px);
	display: block;
	margin-top: 1px;
}

div.blocklyWidgetDiv * {
	font-family: inherit !important;
}
