main {
	flex: 1;
	display: flex;
	flex-direction: row;
}

#blocklyArea {
	flex: 2;
}

#blocklyDiv {
	position: absolute;
}

#right {
	flex: 1;
	display: flex;
	flex-direction: column;
	border-left: 1px solid lightslategray;
	background-color: snow;
}

/*---------*/

/* #context {
	height: 30px;
	border-bottom: 1px solid lightslategray;
}

#context div {
	padding: 6px 8px;
	user-select: none;
	-moz-user-select: none;
} */

/*---------*/

#right div.jsoneditor {
	border: none;
}

#right div.jsoneditor-menu {
	border-bottom: 1px solid #eee;
	display: flex;
	background-color: inherit;
	height: 30px;
}

#right .jsoneditor-menu::before {
	flex: 1;
	padding: 2px 6px;
	color: #1a1a1a;
	align-self: end;
}

#right div.jsoneditor-menu button[type="button"] {
	filter: invert(0.6);
	margin: 0;
}

#right div.jsoneditor-outer.has-main-menu-bar {
	margin-top: -30px;
	padding-top: 30px;
}

#right table.jsoneditor-tree tr {
	transform: translateX(-24px);
}

#right table.jsoneditor-tree tr:first-child {
	transform: none;
}

details {
	border-top: 1px solid lightslategray;
	border-bottom: 1px solid lightslategray;
}

#context .jsoneditor-menu::before {
	content: "Edit Context";
}

#json .jsoneditor-menu::before {
	content: "Preview Query";
}

/*---------*/

#query {
	margin: 0;
	font-family: "Go Smallcaps";
	font-size: larger;
	padding: calc(2px + 0.1em) 0.1em;
	border: none;
	cursor: pointer;
	background-color: aliceblue;
	box-sizing: border-box;
}

#query:hover,
#query:focus {
	background-color: honeydew;
}

#query:active {
	border: 2px inset;
	padding: 0.1em;
}

#query:disabled {
	background-color: ghostwhite;
	border: none;
	padding: calc(2px + 0.1em) 0.1em;
	cursor: not-allowed;
}

#right table {
	display: block;
	flex: 1;
	white-space: pre-line;
	font-size: 12px;
}

/*---------*/

.blocklyMainBackground {
	stroke: none;
	stroke-width: 0;
}

.blocklySvg {
	background-color: ghostwhite;
}

.blocklyFlyout {
	background-color: whitesmoke;
	border-right: 1px solid lightslategray;
}

.blocklyFlyoutBackground {
	fill: whitesmoke;
	fill-opacity: 0;
}

.blocklyText,
.blocklyHtmlInput {
	font-family: inherit;
	font-size: 9pt !important;
}

.blocklyHtmlInput {
	padding-left: 5px;
	margin-left: 2px;
	width: calc(100% - 6px);
	display: block;
	margin-top: 1px;
}

div.blocklyWidgetDiv * {
	font-family: inherit !important;
}
