@font-face {
	font-family: "Go Smallcaps";
	font-weight: normal;
	font-style: normal;
	src: url("gofont/Go-Smallcaps.ttf") format("truetype");
}

html {
	height: 100%;
	font-family: Monaco, monospace;
	background: ghostwhite;
}

body {
	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
}

header {
	background: lavender;
	display: flex;
	font-family: "Go Smallcaps";
	padding: 8px 8px 0 1em;
	border-bottom: 1px solid lightslategray;
}

header h1 {
	margin: 0;
}
