@font-face {
	font-family: "Go Smallcaps";
	font-weight: normal;
	font-style: normal;
	src: url("gofont/Go-Smallcaps.ttf") format("truetype");
}

html {
	height: 100%;
	font-family: Monaco, monospace;
	background: ghostwhite;
}

body {
	height: 100%;
	margin: 0;
}

body main {
	position: absolute;
	bottom: 0;
	top: 46px;
	width: 100%;
}

header {
	background: lavender;
	font-family: "Go Smallcaps";
	padding: 0.5em 0.5em 0;
	border-bottom: 1px solid lightslategray;
	height: 37px;
}

header h1 {
	margin: 0;
	color: #333;
}

header h1 {
	user-select: none;
}

header h1 a {
	text-decoration: none;
	color: inherit;
}

header h1 a:hover {
	text-decoration: underline;
}
